{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<h1 class="heading">List of Disasters</h1>
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <ul>
        {% for disasters in object_list %}
        <li class="paragraph list-item">
          <a href="{% url 'disastersdetails' disasters.pk %}"
            class="list-group-item list-group-item-action list-group-item-light">
            {{disasters.state}} | {{ disasters.disaster_number}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>



{% endblock %}