{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
{% if user.is_authenticated %}

<h1 class="heading">List of Disasters</h1>
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <ul>
        {% for disasters in object_list %}
        <li class="paragraph list-item remove-bullets">
          <a href="{% url 'ProjectManagementApp:disastersdetails' disasters.pk %}"
            class="paragraph list-group-item list-group-item-action list-group-item-light">
            {{disasters.state}} | {{ disasters.disaster_number}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>


{% else %}
You must login first
{% endif %}
{% endblock %}