{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    
        <form method="get">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-sm-4">{{ filter.form|crispy }}</div>
            </div>
            <button class="btn btn-outline-primary input-group-append" type="submit">Filter</button>
        </form>
    
    <div class="row">
        {% for item in filter.qs %}
        <div class="paragraph list-item">
            <a href="{% url 'disastersdetails' item.pk %}"
                    class="list-group-item list-group-item-action list-group-item-light">{{ item.state }} |
                    {{ item.disaster_number }}</a>
        </div>
        
        {% endfor %}
    </div>            
</div>
        




{% endblock %}