{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<div class="heading">Disaster Data</div>
<div class="container disaster-chart">
    <canvas id="myChart"></canvas>
</div>
</div>
</div>
<script >
    $(document).ready(function(){
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for item in qs %}'{{item.state}}',{% endfor %}],
            datasets: [{
                label: 'Top Ten Disasters',
                data: [{% for item in qs %}{{item.twelve_month_lock_in_amount}},{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
});
</script>

{% endblock %}