{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<h1 class='heading'>Delete Enriching Project Data</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <form method="POST">
        {% csrf_token %}
        <div><br/>
            <strong>Are you sure you want to delete the data for {{ enrichment.assigned_project_identifier }}?</strong>
        </div><br/>
        <div class="d-flex justify-content-center">
            <button class="btn btn-danger m-3">Delete</button> <a href="{% url 'ProjectManagementApp:home' %}" class="btn btn-secondary m-3">Cancel</a>
        </div>
      </form>
    </div>
    <div class="col=sm-2"></div>
  </div>
</div>


{% else %}
You must login first
{% endif %}
{% endblock %}