{% extends 'base.html' %}
{% block title %}Welcome to BlogIt{% endblock %}
{% block content %}

<h1 class="heading">Welcome To Project Management</h1>
<br /><br />
<h2 class="paragraph"></h2>
<div class="form-group blog-article">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Login</button>
        <button class="btn btn-secondary">
            <a href="{% url 'register' %}">Register</a>
        </button>
    </form>
</div>




{% endblock %}