{% load static %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Mitigation Project Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'disasterslist' %}">Disaster List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projectlist' %}">Project List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enrichment_list' %}">Enrichment List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}