{% load static %}
{% block content %}
<nav class="navbar navbar-expand-sm navbar-background">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'ProjectManagementApp:home' %}">
      <button id="disasterlistbtn" class="btn btn-primary" type="button">Mitigation Project Management</button></a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-items">
          <a class="nav-link" href="{% url 'ProjectManagementApp:disasterslist' %}">
            <button id="disasterlistbtn" class="btn btn-outline-light" type="button">Disaster List</button></a>
        </li>
        <li class="nav-items">
          <a class="nav-link" href="{% url 'ProjectManagementApp:projectlist' %}">
            <button id="projectlistbtn" class="btn btn-outline-light" type="button">Project List</button></a>
          </a>
        </li>
        <li class="nav-items">
          <a class="nav-link" href="{% url 'ProjectManagementApp:enrichment_list' %}">
            <button id="enrichmentlistbtn" class="btn btn-outline-light" type="button">Enrichment Data</button></a>
          </a>
        </li>
        <li class="nav-items">
          <a class="nav-link" href="{% url 'ProjectManagementApp:administration' %}">
            <button id="administrationbtn" class="btn btn-outline-light" type="button">Data Center</button></a>
          </a>
        </li>
      </ul>
    </div>
    <ul class="nav pull-right">
      <li class="nav-items pull-right">
        <a class="nav-link" href="{% url 'members:edit_profile' %}">
          <button id="profilebtn" class="btn btn-outline-light" type="button">Profile</button></a>
        </a>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link" href="{% url 'logout' %}">
          <button id="logoutbtn" class="btn btn-outline-secondary btn-light" type="button">Logout</button>
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}