{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<h1 class="heading">Welcome To Project Management</h1>
<br /><br />
<div class="container">
    <div class="row">
        <div class="form-group blog-article">
            <form action="{% url 'ProjectManagementApp:home' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                {{form.errors}}
                <br />
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}