{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}
{% if user.is_authenticated %}

<div class="heading">Upload Project File</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form action="{% url 'ProjectManagementApp:upload_project' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="project_file">
                <span onclick = "hideshow();">
                    <input type="submit" class="btn-primary btn" value="Import" id="btn1">
                </span>
                
                <button class="btn btn-primary" type="button" id="btn2" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                  </button>
            </form>
        </div>
        <div class="col-sm-2"></div>

    </div>
    

    </div>
</div>
{% else %}
You must login first
{% endif %}
{% endblock %}